# Byte-compiled files
__pycache__/
*.py[cod]
*.pyc
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Logs
logs/
*.log

# Models (too large)
models/

# Data (DO NOT TRACK)
ml/data/raw/
ml/data/processed/

# IDE
.vscode/

# OS files
.DS_Store